services:
  - type: static
    name: console-base-setup
    buildCommand: npm install && npm run build:prod
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
